<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ragthorn</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/album.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/navbar.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/bootsnipp.css" rel="stylesheet">
    <link href="~/Content/pagedlist.css" rel="stylesheet">
    <link href="~/Content/Login-Form-Dark.css" rel="stylesheet" />
    <link href="~/Content/pagelayout.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
    <div id="wrapper">
        <div id="headerwrap">
            <div id="header">
                <p>This is the Header</p>
            </div>
        </div>
        <div id="contentliquid">
            <div id="contentwrap">
                <div id="content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="leftcolumnwrap">
            <div id="leftcolumn">
                <div class="area"></div><nav class="main-menu">
                    <ul>
                        <li>
                            <a href="http://justinfarrow.com">
                                <i class="fa fa-home fa-2x"></i>
                                <span class="nav-text">
                                    Dashboard
                                </span>
                            </a>

                        </li>
                        <li class="has-subnav">
                            <a href="#">
                                <i class="fa fa-laptop fa-2x"></i>
                                <span class="nav-text">
                                    UI Components
                                </span>
                            </a>

                        </li>
                        <li class="has-subnav">
                            <a href="#">
                                <i class="fa fa-list fa-2x"></i>
                                <span class="nav-text">
                                    Forms
                                </span>
                            </a>

                        </li>
                        <li class="has-subnav">
                            <a href="#">
                                <i class="fa fa-folder-open fa-2x"></i>
                                <span class="nav-text">
                                    Pages
                                </span>
                            </a>

                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-bar-chart-o fa-2x"></i>
                                <span class="nav-text">
                                    Graphs and Statistics
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-font fa-2x"></i>
                                <span class="nav-text">
                                    Typography and Icons
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-table fa-2x"></i>
                                <span class="nav-text">
                                    Tables
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-map-marker fa-2x"></i>
                                <span class="nav-text">
                                    Maps
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-info fa-2x"></i>
                                <span class="nav-text">
                                    Documentation
                                </span>
                            </a>
                        </li>
                    </ul>

                    <ul class="logout">
                        <li><a href="" onclick="$('#logoutForm').submit(); return false;">Logout</a></li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div id="rightcolumnwrap">
            <div id="rightcolumn">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
            </div>
        </div>
        <hr />
        <footer style="text-align:center;">
            <p>&copy; @DateTime.Now.Year - Ragthorn</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
